*{
	font-family: 'Titillium Web', sans-serif !important;
}
.titulo_cliente{
	font-weight:normal !important;
}
#page_login *{
	border-radius:0 !important;
	-webkit-border-radius:0 !important;
}
#page_admin *{
	border-radius:0 !important;
	-webkit-border-radius:0 !important;
}
.ui-listview{
	box-shadow:none !important;
	/*-webkit-border-radius:0 !important;*/
}
body{
	width:100% !important;
}
.pagina{
	border:solid red 1px;
	width:100% !important;
}
.pd20{
	padding:20px;
}
.titulo_painel{
	line-height:30px;
	text-align:center;
}
.login{
	position:absolute !important;
	
	top:50%;
	height:300px;
	margin-top:-150px;
	
	left:50%;
	width:280px;
	margin-left:-140px;
}
.logo{
	text-align:center;
	padding:0 0 20px 0;
}
	.logo img{
		width:80%;
	}

.tac{
	text-align:center !important;
}

.ui-icon-email {
	background-image: url(../img/ic2.png);
	background-repeat: no-repeat;
	width:28px;
    height: 28px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: none;
	margin-top:5px;
	margin-left: -12px !important; 

}

.ui-icon-drop {
	background-image: url(../img/drop.png);
	background-repeat: no-repeat;
	width:28px;
    height: 28px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: none;
	border-radius:0;
	margin-top:5px;
	margin-left: -12px !important; 

}

.ui-icon-sync {
	background-image: url(../img/comm.png);
	background-repeat: no-repeat;
	width:32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: none;
	border-radius:0;
	margin-top:5px;
	margin-left: -16px !important; 

}

.ui-icon-esta {
	background-image: url(../img/statistics.png);
	background-repeat: no-repeat;
	width:32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: none;
	margin-top:5px;
	border-radius:0;
	margin-left: -16px !important; 
}

.ui-icon-database {
	background-image: url(../img/database.png);
	background-repeat: no-repeat;
	width:32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: none;
	margin-top:5px;
	border-radius:0;
	margin-left: -16px !important; 
}


.ui-icon-load {
	background-image: url(../img/load.png);
	background-repeat: no-repeat;
	width:32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: none;
	margin-top:5px;
	border-radius:0;
	margin-left: -16px !important; 
}




.nav-glyphish-example .ui-btn .ui-btn-inner {
    padding-top: 40px !important; 
}


.nav-glyphish-example .ui-btn .ui-icon { 
    box-shadow: none!important; 
    -moz-box-shadow: none!important; 
    -webkit-box-shadow: none!important;
    -webkit-border-radius: none !important;
    border-radius: none !important; 
}
