@font-face {
	font-family:"ProximaNova-Light";
	src:url('proximanova-light-webfont.eot');
	src:url('proximanova-light-webfont.eot?#iefix') format('eot'), url('proximanova-light-webfont.woff') format('woff'), url('proximanova-light-webfont.ttf') format('truetype')
}

@font-face {
	font-family:"ProximaNova-Regular";
	src:url('proximanovaalt-reg-webfont.eot');
	src:url('proximanovaalt-reg-webfont.eot?#iefix') format('eot'), url('proximanovaalt-reg-webfont.woff') format('woff'), url('proximanovaalt-reg-webfont.ttf') format('truetype')
}

@font-face {
	font-family:"ProximaNova-Semibold";
	src:url('proximanovaalt-sbold-webfont.eot');
	src:url('proximanovaalt-sbold-webfont.eot?#iefix') format('eot'), url('proximanovaalt-sbold-webfont.woff') format('woff'), url('proximanovaalt-sbold-webfont.ttf') format('truetype')
}

@font-face {
	font-family:"ProximaNova-Bold";
	src:url('proximanovaalt-bold-webfont.eot');
	src:url('proximanovaalt-bold-webfont.eot?#iefix') format('eot'), url('proximanovaalt-bold-webfont.woff') format('woff'), url('proximanovaalt-bold-webfont.ttf') format('truetype')
}

@font-face {
	font-family:'ProximaNova-XBold';
	src:url('proximanova-xbold-webfont.eot');
	src:url('proximanova-xbold-webfont.eot?#iefix') format('embedded-opentype'), url('proximanova-xbold-webfont.woff') format('woff'), url('proximanova-xbold-webfont.ttf') format('truetype')
}